.btnPrimario{
    background-color: var(--color-primario);
    color: var(--color-fondo);
    border: 2px solid var(--color-primario);
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    transition: var(--transicion-suave);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnPrimario::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-secundario);
    z-index: -1;
    transition: width 0.6s ease;

}

.btnPrimario:hover::before{
    width: 100%;
}

.btnPrimario:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(242, 101, 34, 0.3);
    transition: ease-out .4s;
    color: var(--color-fondo);
    border: 2px solid var(--color-secundario);
}

.btnSecundario{
    background-color: transparent; 
    color: var(--color-primario);
    border: 2px solid var(--color-neutral-2);
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    transition: var(--transicion-suave);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnSecundario::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-primario);
    z-index: -1;
    transition: width 0.5s ease;
}

.btnSecundario:hover::before{
    width: 100%;
}

.btnSecundario:hover{
    color: var(--color-secundario);
    border-color: var(--color-primario);
    transform: translateY(-2px);
    transition: ease-out .4s;
    box-shadow: 0 4px 15px rgba(19, 13, 139, 0.3);
}

.btnInverso {
    background-color: transparent;
    color: var(--color-fondo);
    border: 1px solid rgba(255, 255, 255, 0.5); 
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    transition: var(--transicion-suave);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnInverso::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-fondo);
    z-index: -1;
    transition: width 0.6s ease;
}

.btnInverso:hover::before{
    width: 100%;
}

.btnInverso:hover {
    color: var(--color-primario); 
    border-color: var(--color-fondo);
    transform: translateY(-2px);
    transition: ease-out .4s;
}


